<.header>
  <span class="dark:text-slate-200">Malware Samples</span>
  <br />
  <br />
  <.link :if={@current_user.role.name in ["Admin", "Uploader"]} navigate={~p"/samples/new"}>
    <.button class="dark:bg-zinc-700 dark:hover:bg-zinc-800">New Sample</.button>
  </.link>
  <:actions>
    <div
      :if={@count !== :"counting..."}
      class="splitflap-display"
      phx-hook="SplitFlap"
      id="SplitFlap"
    >
      <div
        :for={digit <- @count |> Integer.to_string() |> String.graphemes()}
        class="split-flap"
        data-letter={digit}
      />
    </div>
    <div
      :if={@count !== :"counting..."}
      class="splitflap-display"
      phx-hook="SplitFlap"
      id="SplitFlap2"
    >
      <div class="split-flap" data-letter="S" data-animation-delay="800ms" />
      <div class="split-flap" data-letter="a" data-animation-delay="1200ms" />
      <div class="split-flap" data-letter="m" data-animation-delay="1800ms" />
      <div class="split-flap" data-letter="p" data-animation-delay="2000ms" />
      <div class="split-flap" data-letter="l" data-animation-delay="2600ms" />
      <div class="split-flap" data-letter="e" data-animation-delay="3000ms" />
      <div class="split-flap" data-letter="s" data-animation-delay="3400ms" />
      <div class="split-flap" data-letter="🏴‍☠️" data-animation-delay="3400ms" />
    </div>

    <div
      :if={@count === :"counting..."}
      class="splitflap-display"
      phx-hook="SplitFlap"
      id="SplitFlap"
    >
      <div class="split-flap" data-letter="C" data-animation-delay="800ms" />
      <div class="split-flap" data-letter="o" data-animation-delay="1200ms" />
      <div class="split-flap" data-letter="u" data-animation-delay="1800ms" />
      <div class="split-flap" data-letter="n" data-animation-delay="2000ms" />
      <div class="split-flap" data-letter="t" data-animation-delay="2200ms" />
      <div class="split-flap" data-letter="i" data-animation-delay="2600ms" />
      <div class="split-flap" data-letter="n" data-animation-delay="3000ms" />
      <div class="split-flap" data-letter="g" data-animation-delay="3400ms" />
      <div class="split-flap" data-letter="." data-animation-delay="3800ms" />
      <div class="split-flap" data-letter="." data-animation-delay="4200ms" />
      <div class="split-flap" data-letter="." data-animation-delay="4600ms" />
    </div>
  </:actions>
</.header>

<div :if={not connected?(@socket)} class="p-6 m-6 animate-pulse">
  <div class="h-4 bg-gray-200 mb-6 rounded dark:bg-zinc-500"></div>
  <div class="h-4 bg-gray-300 mb-6 rounded dark:bg-zinc-600"></div>
  <div class="h-4 bg-gray-200 mb-6 rounded dark:bg-zinc-500"></div>
  <div class="h-4 bg-gray-300 mb-6 rounded dark:bg-zinc-600"></div>
  <div class="h-4 bg-gray-200 mb-6 rounded dark:bg-zinc-500"></div>
  <div class="h-4 bg-gray-200 mb-6 rounded dark:bg-zinc-500"></div>
  <div class="h-4 bg-gray-300 mb-6 rounded dark:bg-zinc-600"></div>
  <div class="h-4 bg-gray-200 mb-6 rounded dark:bg-zinc-500"></div>
  <div class="h-4 bg-gray-300 mb-6 rounded dark:bg-zinc-600"></div>
  <div class="h-4 bg-gray-200 mb-6 rounded dark:bg-zinc-500"></div>
  <div class="h-4 bg-gray-200 mb-6 rounded dark:bg-zinc-500"></div>
</div>

<.table
  :if={connected?(@socket)}
  id="samples"
  rows={@samples}
  row_click={&JS.navigate(~p"/samples/#{&1}")}
  search={@search}
  size={@size}
>
  <:col :let={sample} label="Hashes">
    <p class="font-thin">
      <%= if sample.md5 do %>
        <strong>MD5:</strong> <%= sample.md5 %> <br /> <strong>SHA1:</strong> <%= sample.sha1 %>
        <br />
        <strong>SHA256:</strong> <%= sample.sha256 %>
        <br /> <strong>SHA512:</strong> <%= sample.sha512 %>
      <% else %>
        Processing...
      <% end %>
    </p>
  </:col>
  <:col :let={sample} label="Size">
    <%= get_shown_number(sample.size, @size) |> Number.Delimit.number_to_delimited(precision: 0) %> <%= @size %>
  </:col>
  <:col :let={sample} label="Download">
    <.link
      href={generate_url_for_file(sample.sha256)}
      download={generate_url_for_file(sample.sha256)}
      target="_blank"
    >
      <.button>Download File</.button>
    </.link>
  </:col>

  <:col :let={sample} :if={@current_user.role.name == "Admin"} label="">
    <.link phx-click={JS.push("delete", value: %{id: sample.id})} data-confirm="Are you sure?">
      <.button>Delete</.button>
    </.link>
  </:col>
</.table>

<p
  :if={@search == "" and length(@samples) > 5}
  class="text-center dark:text-slate-200 mt-6"
  id="search-text"
>
  What are you going to scroll for days? Use the search box.
</p>

<.modal
  :if={@live_action in [:new, :edit]}
  id="sample-modal"
  show
  on_cancel={JS.navigate(~p"/samples")}
>
  <.live_component
    module={VxUndergroundWeb.SampleLive.FormComponent}
    id={@sample.id || :new}
    title={@page_title}
    action={@live_action}
    sample={@sample}
    navigate={~p"/samples"}
  />
</.modal>

<button
  :if={length(@samples) > 5}
  id="scroll-to-top-btn"
  class="scroll-to-top-btn"
  phx-hook="ScrollToTop"
>
  <Heroicons.arrow_up_circle mini class="h-6 w-6 dark:text-slate-50" />
</button>
