<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;" class="h-full bg-zinc-900">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Virus.exchange">
      <%= assigns[:page_title] || "VxUnderground" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="h-full antialiased bg-zinc-900">
    <%= @inner_content %>
  </body>
  <%!-- <script>
    const checkbox = document.querySelector("#checkbox");
    const html = document.querySelector("html");
    const toggleDarkMode = function () {
      if (checkbox != null) {
      checkbox.checked
        ? html.classList.add("dark")
        : html.classList.remove("dark");
        }
    }
    //calling the function directly
    toggleDarkMode();
    checkbox.addEventListener("click", toggleDarkMode);
    function toggle_menu() {
        var x = document.getElementById("nav-menu");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
  </script> --%>
</html>
